.contactContainer {
    position: relative;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.colorChart {
    position: absolute;
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: 0px 0px;
}

.colorOverlay {
    position: absolute;
    height: 100%;
    width: 100%;
    background-image: linear-gradient(
        to bottom, rgba(0,0,0,0.7) 50%, rgba(0,0,0,0.5));
    z-index: 1;
}

.formContainer {
    position: relative;
    height: 75%; max-height: 450px;
    width: 50%; min-width: 390px;
    padding: 2rem;
    border-radius: 15px;
    border: 2px solid #fff;
    z-index: 2;
    background-color: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(5px);
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.3);
}

.formContainer h2 {
    text-align: center;
    color: #fff;
    font-weight: 900;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.8);
}

form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.contactInput {
    height: 40px;
    width: 100%;
    outline: none;
    border: none;
    color: #fff;
    border-bottom: #fff solid 2px;
    background-color: transparent;
}

.contactInput::placeholder {
    color: rgba(255, 255, 255, 0.8);
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.8);
}

.formContainer textarea {
    height: 140px;
    width: 100%;
    border: #fff solid 2px;
    border-radius: 15px;
    padding: 10px;
}

.formContainer button {
    border-radius: 15px;
    height: 35px;
    width: 100%;
    background-image: linear-gradient(to right, #cffc1c, #a5ce00);
    border: 5px solid #a5ce00;
}

