.contactContainer {
    position: relative;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.colorChart {
    position: absolute;
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: 0px -300px;
}

.colorOverlay {
    position: absolute;
    height: 100%;
    width: 100%;
    background-image: linear-gradient(
        to right, rgba(0,0,0,0.6) 30%, rgba(0,0,0,0.1));
    z-index: 1;
}

.formContainer {
    position: relative;
    max-height: 500px;
    width: 60%; min-width: 390px;
    padding: 1.75rem;
    border-radius: 15px;
    border: 4px solid #fff;
    z-index: 2;
    background-color: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(5px);
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.8);
    margin-top: 5rem;
    margin-bottom: 3rem;
    color: #ffffff;
}

.formContainer h3 {
    text-align: center;
    color: #fff;
    font-weight: 900;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.8);
    margin-bottom: 1rem;
}

form {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    box-sizing: border-box;
}

.inputGroup {
    position: relative;
    width: 100%;
    margin-bottom: 0.5rem;
}

.contactInput {
    width: 100%;
    outline: none;
    border: none;
    color: #fff;
    border-bottom: #fff solid 2px;
    background-color: transparent;
    padding: 5px;
}

.inputLabel {
    position: absolute;
    top: 50%;
    left: 0.5rem;
    transform: translateY(-50%);
    color: rgba(255, 255, 255);
    font-weight: 600;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.8);
    background-color: transparent;
    pointer-events: none;
    transition: 0.5s all ease;
}

.contactInput:focus + .inputLabel,
.contactInput:not(:placeholder-shown) + .inputLabel {
  top: -0.5rem;
  font-size: 0.8rem;
  color: #fff;
}


.checkboxHeading {
    align-self: flex-start;
    color: rgba(255, 255, 255);
    font-weight: 600;
    margin-bottom: -10px;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.8);
}

.checkboxWrap {
    display: flex;
    flex-direction: row;
    align-self: flex-start;
    padding-left: 10px;
    gap: 20px;
    color: rgb(255, 255, 255);
    font-weight: 600;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.8);
}

.checkboxWrap label {
    margin-right: 0.5rem;
}

.checkboxWrap input[type='checkbox'] {
    margin-right: 1.5rem;
    accent-color: #cffc1c;
}

textarea.contactInput {
    height: 110px;
    border: #fff solid 2px;
    border-radius: 10px;
    resize: none;
}

textarea.contactInput::placeholder {
    color: rgba(255, 255, 255);
    font-weight: 600;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.8);
}

.buttonWrap {
    width: 100%;
    display: flex;
    flex-direction: row;
}

/* .formContainer button {
    border-radius: 15px;
    height: 35px;
    width: 100%;
    margin: 0 10px 0 10px;
    color: #fff;
    font-weight: 800;
    letter-spacing: 1px;
    text-shadow: #000 1px 1px 4px;
    
} */

.submitButton {
    background-image: linear-gradient(to right, #cffc1c, #a5ce00);
    border: 2px solid #a5ce00;
}

.cancelButton {
    border: 2px solid #fff;
    background-color: transparent;
 }

 .buttonContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;
 }

 .socialButton:nth-child(2), .socialButton:nth-child(3), .socialButton:nth-child(4){
    background-color: #fff;
 }

 .socialButton {
    text-decoration: none;
    width: 100%;
    max-width: 300px;
    color: #5e5e5e;
    background-color: #cffc1c;
    padding: 0.75rem 1.5rem;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
    font-weight: 600;
 }

 .buttonContainer i {
    font-size: 1.3rem;
    margin-right: 3px;
 }

 .socialButton:hover {
    background-color: #8dab16;
    color: #ffffff;
    transition: all ease-in-out 0.5s;
    transform: scale(1.02);
 }

 @media (max-width: 1024px) {
    .colorChart {
        object-position: 0px 0px;
    }

    .checkboxWrap {
        gap: 5px;
    }
 }

 @media (max-width: 500px) {
    .colorChart {
        object-position: -200px 0px;
    }
 }
