.socialMedia {
    font-size:xx-large;
}

.socialMedia i {
  color: #22161c;
}

.Footer {
  position: relative;
  z-index: 999;
}

footer {
  color: #22161c;
  text-shadow: 2px 2px 6px rgba(0, 0, 0, 0.2);
  background-color: #f1e7dd;
  box-shadow: 0px -8px 8px rgba(0,0,0,0.5);
}

.FooterList li a {
  color: #22161c !important;
  display: block;
  margin-bottom: 1px;
}