
/***************************************Intro Section*******************************************/
.sec {
    position: relative;
    height: 200vh;
}

.secContainerOne {
    position: sticky;
    top: 0;
    height: 100vh;
    display: flex;
    justify-content: flex-end;
    border-radius: 15px;
    overflow: hidden;
}

.secImageContainer {
    height: 100%;
    width: 40%;
}

.secContainerTwo {
    position:absolute;
    inset: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    z-index: 11;
}

.leftQuoteContainer {
    position: absolute;
    top: 50px;
    left: 100px;
    font-size: 15rem;
    color: rgba(251, 236, 224, 0.2);
}

.rightQuoteContainer {
    position: absolute;
    top: 140px;
    left: 400px;
    font-size: 15rem;
    color: rgba(251, 236, 224, 0.2);
}

.secContentContainer {
    width: 60%;
    padding: 4rem;
}

.secImage {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

@media (max-width: 768px) {
    .secImageContainer {
        width: 60%;
    }
}

@media (max-width: 500px) {
    .secImageContainer {
        width: 100%;
    }

    .secContainerTwo {
        justify-content: flex-end;
        align-items: center;
    }

    .secContentContainer {
        width: 100%;
        padding: 2.5rem;
    }

    .secContentContainer h1 {
        text-align: center;
    }

    .leftQuoteContainer {
        top: 514px;
        left: 34px;
        font-size: 10rem;
    }

    .rightQuoteContainer {
        top: 611px;
        left: 136px;
    }
}

/************************************************First Section**********************************************/

.sec1 {
    position: relative;
    height: 200vh;
}

.para1 {
    position: sticky;
    top: 0;
    height: 100vh;
    background-image: linear-gradient(#fff5eb, #fff);
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 3rem;
    padding: 3rem;
}

/******************************************Second Section***********************************************/

.sec2 {
    position: relative;
    padding: 20px;
    background-image: radial-gradient(120% 120% at 50% 50%, #f1e7dd 50%, #6c4b5e)
}

.para3 {
    display: flex;
    justify-content: center;
    align-items: start;
    height: 100vh;
    width: 60%;
    font-size: 2rem;
    padding: 20px;
    box-sizing: border-box;
}

.imageContainer {
    position: sticky;
    top: 50px;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.imageCon {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 80vh;
    width: 40%;
    padding: 20px;
    box-sizing: border-box;
}

.image {
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center 0px;
    border-radius: 15px;
    box-shadow: rgba(0, 0, 0, 0.3) 2px 2px 4px, 5px 5px 10px rgba(0, 0, 0, 0.2);
}

/******************************************Third Section***********************************************/

.sec3 {
    position: relative;
    height: 300vh;
    background-color: black;
}
.workContainer {
    position: sticky;
    top: 0;
    height: 100vh;
    background-color: #fff5eb;
    display: flex;
    align-items: center;
    box-shadow: inset 0 -10px 20px rgba(0, 0, 0, 0.4);
    overflow: hidden;
}

.work {
    display: flex;
}

.cards {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50vh;
    width: 350px;
    background-color: rgb(5, 4, 4);
    margin: 0 10px;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: rgba(0, 0, 0, 0.7) 2px 2px 4px,
    rgba(0, 0, 0, 0.5) 3px 3px 8px;
    box-sizing: border-box;
}

@media (max-width: 768px) {
    .cards {
        width: 500px;
    }
}

@media (max-width: 500px) {
    .cards {
        width: 400px;
    }
}

/******************************************Fourth Section***********************************************/

.sec4 {
    position: relative;
    height: 200vh;
}

.imageContainer2 {
    position: sticky;
    top: 0;
    display: flex;
    height: 100vh;
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
}

.curlyImage {
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: 0px -50px;
    border-radius: 15px;
}

.secFourOverlay {
    position: absolute;
    inset: 0;
    background-color: rgba(0, 0, 0, 0.5);
    margin: 10px;
    border-radius: 15px;
}

.para4 {
    position: absolute;
    left: 0;
    top: 0;
    display: flex;
    justify-content: flex-end;
    align-items:center;
    height: 100vh;
    width: 100%;
    font-size: 2rem;
    color: white;
    padding: 10px;
    z-index: 11;
    box-sizing: border-box;
}

.innerContainer {
    display: flex;
    justify-content: flex-end;
    width: 50%;
    padding: 20px;
    box-sizing: border-box;
}

@media (max-width: 768px) {
    .para4 {
        justify-content: center;
    }

    .curlyImage {
        object-position: -200px 0px;
    }

    .innerContainer {
        width: 90%;
    }
}

/******************************************Fifth Section***********************************************/
