.homeContainer {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

.homeContainer img {
    width: 100%;
    height: 100vh; /* Ensures full viewport coverage */
    object-fit: cover;
    object-position: 0% 50%;
    display: block;
    position: relative; /* Fixes image to viewport */
    top: 0;
    left: 0;
    z-index: -1; /* Moves it behind content */
}   

.Slogan {
    position: absolute;
    top: 20%;
    transform: translateY(75px);
    transition: opacity 0.6s ease-out, transform 0.6s ease-out;
    width: 100vw;
    height: auto;
    display: flex;
    flex-direction: column;
    padding: 20px;
    justify-content: space-between;
    z-index: 10;
    
}

.homeContainer h1 {
    position: relative;
    color: #fff;
    font-family: "Cal Sans", sans-serif;
    font-style: oblique;
    font-weight: bold;
    z-index: 11;
    align-self: flex-start;
}

.homeContainer h5 {
    position: relative;
    font-family: "Cal Sans" sans-serif;
    color: #fff;
    font-style: oblique;
    z-index: 11;
    align-self: flex-end; /* Push h6 to the right */
}