.homeContainer {
    position: relative;
    z-index: 1;
}

.backgroundImage {
    position: fixed;
    width: 100%;
    height: 100vh;
    object-fit: cover;
    top: 0;
    left: 0;
    z-index: -2;
}   

.homeBackground {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.2);
    pointer-events: none;
    z-index: -1;
}

.sloganText {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 1;
}

.headingGroup {
    position: relative;
    text-align: center;
}

.Slogan {
    position: absolute;
    top: 10%;
    transform: translateY(0);
    transition: opacity 0.6 ease-out, transform 0.6s ease-out;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.homeContainer h1 {
    position: relative;
    color: rgba(255, 255, 255);
    font-family: "Cal Sans", sans-serif;
    font-style: oblique;
    font-weight: bold;
}

.homeContainer h5 {
    position: relative;
    font-family: "Cal Sans", sans-serif;
    color: rgba(255, 255, 255, 0.8);
    font-style: oblique;
}

.arrowIcon {
  color: #fff;
  font-size: 25px;
}

.Arrow {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    cursor: pointer;
    font-size: 25px;
}

.scrollButton {
  text-decoration: none;
  color: #22161c;
  background-color: rgba(0, 0, 0, 0);
  cursor: pointer; /* Keeps click functionality */
  border: none;
}

.buttonWrapper {
    position: absolute;
    bottom: 10px;
}

.contactButtonWrapper {
    position: absolute;
    bottom: 40px;
}