/* .sectionContainer {
  height: 100vh;
} */

.tcontainer {
    display: flex;
    justify-content: end;
    height: 100vh;
    width: 100%;
    overflow: hidden;
}

.tcontainer p {
    font-size: 20px;
    line-height: 30px;
}

.tcontainer h1 {
    letter-spacing: -1px;
}

.StoryContainer {
    position: relative;
    z-index: -1;
    overflow: hidden;
}

.AboutMeOne {
    position: relative;
    min-height: 50vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.AboutMeTwo {
    position: relative;
    min-height: 50vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #d9b9a0;
}

.AboutMeThree {
    position: relative;
    min-height: 50vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
}

.AboutMeFour {
    position: relative;
    min-height: 50vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #d9b9a0;
}

.AboutMeFive {
    position: relative;
    min-height: 60vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.ImageAnchor {
  position: absolute;
  top: calc(50vh - 150px); /* position image halfway into AboutMeOne */
  left: 85%;
  transform: translateX(-50%);
  z-index: 2;
}

.ImageAnchorTwo {
  position: absolute;
  top: calc(0vh - 50px); /* position image halfway into AboutMeOne */
  left: 16%;
  transform: translateX(-50%);
  z-index: 2;
}

.ImageAnchorThree {
  position: absolute;
  top: calc(50vh - 125px); /* position image halfway into AboutMeOne */
  left: 85%;
  transform: translateX(-50%);
  z-index: 2;
}

.cathyImage {
  width: clamp(180px, 25vw, 250px);
  height: auto;
  object-fit: cover;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.4);
  rotate: 2deg;
}

.awardImage {
  width: clamp(180px, 25vw, 250px);
  height: auto;
  object-fit: cover;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.4);
  rotate: -2deg;
}

.wigsImage {
  width: clamp(180px, 25vw, 250px);
  height: auto;
  object-fit: cover;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.4);
  rotate: 2deg;
}

.StoryContainer p {
    font-size: 20px;
    width: 70%;
    line-height: 30px;
}

.StoryContainer span {
    font-size: 1.3rem;
    font-weight: 700;
    letter-spacing: 1px;
}

.TitleContainer {
    top: 0;
    left: 0;
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.heroImage {
    position: absolute;
    height: 100vh;
    width: 40%;
    display: flex;
    justify-content: end;
    object-fit:fill;
}

.gradientBg {
    display: flex;
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(
        to right, #d9b9a0 60%, transparent);
    z-index: 1;
}

.leftHalf {
    display: flex;
    width: 60%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.contactButtonWrapper {
    display: flex;
    justify-content: center;
    align-items: center;
}

.contactButton {
    background-color: #cffc1c;
    border: 5px solid #fff;
    border-radius: 0.5rem;
    padding: 0.5rem 0.75rem;
    transition: border-color 0.2s ease;
    box-shadow: 0 2px 0 rgba(0,0,0,0.3);
}
/* 
.leftHalf h1 {
    font-family: "Cal Sans", sans-serif;
}

.leftHalf h5 {
    font-family: "Merriweather Sans", sans-serif;
} */

.con {
    height: 100vh;
    display: flex;
    background-color: aquamarine;
}

.con2 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #fff;
    height: 100%;
    width: 40%;}

.con3 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-image: linear-gradient(to left, #f1e7dd 75%, #fff);
    height: 100%;
    width: 60%;
}

.box {
    display: flex;
    flex-direction: column;
    
    justify-content: center;
    align-items: center;
    height: 85%;
    width: 85%;
    background-color: #fff;
}


.box2 {
    height: 90%;
    width: 90%;
    background-color: red;
    rotate: 5deg;
    position: relative;
    box-shadow: 4px 4px 8px #000;
    overflow: hidden
}

.heroImage2 {
    height: 100%;
    width: 100%;
    object-fit: cover;
    display: block;
    
}

/*************************Grid System***************************/
.container {
  height: 250vh;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(18, 1fr);
  gap: 20px;
  background-image: linear-gradient(to bottom, #d9b9a0 10%, white 50%);
  padding: 15px;
}

.container > div {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 10px;
  background-image: radial-gradient(white, 50%,rgba(249, 249, 249, 1), rgba(217, 217, 217, 1));
  border-radius: 5px;
}

.container > div p {
  margin: 0;
  width: 100%;
  font-size: 16px;
}

.pr1 {grid-area: 1 / 1 / span 2 / -1;}
.pr2 {grid-area: 3 / 1 / span 2 / span 7;}
.img {grid-area: 3 / 8 / span 4 / -1;}
.pr3 {grid-area: 5 / 1 / span 4 / span 5;}
.pr4 {grid-area: 7 / 6 / span 4 / -1;}
.img2 {grid-area: 9 / 1 / span 4 / span 5;}
.pr5 {grid-area: 13 / 1 / -1 / span 7;}
.img3 {grid-area: 11 / 8 / -1 / -1;}
.k {grid-area: 5 / 6 / span 2 / span 2}
.h {grid-area: 11 / 6 / span 2 / span 2;}

/***************************Media queries*************************/
@media (max-width: 991px) {
    .heroImage {
        width: 50%;
        object-fit: cover;
    }

    .gradientBg {
        background-image: linear-gradient(
            to right, #d9b9a0 50%, transparent);
    }
}

@media (max-width: 767px) {

    .heroImage {
        position: absolute;
        height: 75vh;
        width: 100%;
        display: flex;
        justify-content: end;
        object-fit: cover;
    }

    .gradientBg {
        display: flex;
        flex-direction: column-reverse;
        width: 100%;
        height: 100vh;
        background-image: linear-gradient(
            to top, #d9b9a0 35%, transparent);
        z-index: 1;
    }

    .leftHalf {
        display: flex;
        width: 100%;
        height: 35vh;
        justify-content: center;
    }
}

@media (max-width: 450px) {
    .AboutMeTwo {
        min-height: 75vh;
    }

    .AboutMeOne, 
    .AboutMeFour {
        min-height: 60vh;
        justify-content: start;
    }

    .AboutMeFive, .AboutMeThree  {
        min-height: 60vh;
        justify-content: end;
    }

    .ImageAnchor {
        top: calc(50vh - 40px);
        left: 50%;
    }

    .ImageAnchorTwo {
        top: calc(0vh - 115px);
        left: 50%;
    }

    .ImageAnchorThree {
        top: calc(50vh - 33px);
        left: 50%;
    }

    .StoryContainer p {
        width: 100%;
        text-align: center;
    }
}