.tcontainer {
    display: flex;
    justify-content: end;
}

.heroImage {
    position: absolute;
    height: 100vh;
    width: 50%;
    display: flex;
    justify-content: end;
    object-fit: cover;
}

.gradientBg {
    display: flex;
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(
        to right, #f1e7dd 50%, transparent);
    z-index: 1;
}

.leftHalf {
    display: flex;
    width: 50%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.box {
    height: 250px;
    width: 250px;
    background-color: black;
}