.NavContainer {
  display: flex;
  flex-direction: column;
  position: fixed;
  width: 100vw;
  z-index: 2;
  overflow: hidden;
}

/* .NavBarShadow {
    box-shadow: 0px 6px 8px rgba(0, 0, 0, 0.2);
} */

.NavLink {
  font-size: 20px;
  font-weight: 800;
  padding: 5px;
  text-decoration: none;
  color: #fff;
  text-shadow: 
  1px 2px 1px rgba(10, 10, 10, 0.5),
  2px 3px 2px rgba(0,0,0,6);
  transition: transform 0.1s;
}

.ColorNav {
  transition: background-color 1s ease-in-out;
}

.NavBarShadow.collapsing {
    visibility: hidden;
}

.McButton {
  width: 44px;
  height: 32px;
  position: relative;
  cursor: pointer;
  background: none;
  border: none;
  margin-right: 1rem;
}

.McButton span {
  position: absolute;
  width: 35px;
  height: 2px;
  background-color: #22161c;
  transition: all 0.3s ease-in-out;
}

.McButton span:nth-child(1) {
  top: 5px;
}

.McButton span:nth-child(2) {
  top: 50%;
  transform: translateY(-50%);
}

.McButton span:nth-child(3) {
  bottom: 5px;
}

/* Animated Effect when Toggled */
.McButton.active span:nth-child(1) {
  transform: translateY(10px) rotate(45deg);
}

.McButton.active span:nth-child(2) {
  opacity: 0;
}

.McButton.active span:nth-child(3) {
  transform: translateY(-10px) rotate(-45deg);
}

@media (max-width: 767px) {
    .NavContainer {
        flex-direction: column-reverse !important;
        border: none !important;
    }

    .NavBarShadow {
        box-shadow: none;
    }

    .NavLink {
        margin-bottom: 20px;
    }
}