.NavContainer {
    display: flex;
    flex-direction: column;
}

.NavBarShadow {
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);
}

.NavLink {
    padding: 5px;
    text-decoration: none;
    color: black;
}

.ColorNav {
  transition: background-color 1s ease-in-out;
}

.NavBarShadow.collapsing {
    visibility: hidden;
}

@media (max-width: 767px) {
    .NavContainer {
        flex-direction: column-reverse !important;
        border: none !important;
    }

    .NavBarShadow {
        box-shadow: none;
    }
}