.GridContainer {
  height: 100vh;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(8, 1fr);
  background-color: grey;
  padding: 20px;
  border: 1px solid red;
  gap: 20px;
}

.GridContainer > div {
  background-color: antiquewhite;
  font-size: 1.2rem;
  text-align: center;
  border-radius: 15px;
}

.header {
  grid-area: 5 / 11 / -1 / -1;
}

.hair {
  position: relative;
  grid-area: 1 / 1 / -1 / span 6; 
  overflow: hidden;
}

.educate {
  position: relative;
  grid-area: 1 / 7 / span 4 / span 6;
  overflow: hidden;
}
.codes {grid-area: 5 / 7 / -1 / span 4;}

.edImage {
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: 0px -2px;
  filter: blur(3px);
}

.edCover {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 2;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0,0,0,0.2);
}

.hairImage {
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: 0px -45px;
}

.hairCover {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 2;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0,0,0,0.2);
}

h1 {
  font-family: "Cal sans", sans-serif;
  color: #fff;
  letter-spacing: -1px;
}

@media (max-width: 500px) {
  .GridContainer {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto;
  }

  .header {
    grid-area: 1 / 1 / span 1 / span 2;
  }

  .hair {
    grid-area: 2 / 1 / span 1 / span 2;
  }

  .educate {
    grid-area: 3 / 1 / span 1 / span 2;
  }

  .codes {
    grid-area: 4 / 1 / span 1 / span 2;
  }
}
