.GridContainer {
  height: 100vh;
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: repeat(6, 1fr);
  background-color: grey;
  padding: 20px;
  border: 1px solid red;
  gap: 20px;
}

.GridContainer > div {
  border: 1px solid black;
  background-color: antiquewhite;
  font-size: 1.2rem;
  text-align: center;
  padding: 20px;
}

.header {
  grid-area: 1 / 1 / span 1 / span 3;
  background-color: #808080 !important;
  border: none !important;
}

.hair {
    grid-area: 1 / 4 / span 4 / -1;
}

.educate {grid-area: 2 / 1 / -1 / span 3;}
.codes {grid-area: 5 / 4 / -1 / -1;}

@media (max-width: 500px) {
  .GridContainer {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto;
  }

  .header {
    grid-area: 1 / 1 / span 1 / span 2;
  }

  .hair {
    grid-area: 2 / 1 / span 1 / span 2;
  }

  .educate {
    grid-area: 3 / 1 / span 1 / span 2;
  }

  .codes {
    grid-area: 4 / 1 / span 1 / span 2;
  }
}
