.GridContainer {
  position: relative;
  height: 100vh;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(8, 1fr);
  background-image: linear-gradient(
    to bottom, #ca8383, #fff );
  padding: 20px;
  gap: 20px;
  padding: 50px 20px 30px 20px;
  margin-bottom: 20px;
}

.GridContainer > div {
  font-size: 1.2rem;
  text-align: center;
  border-radius: 15px;
  box-shadow:
  rgba(0,0,0,0.3) 2px 2px 4px, 
  5px 5px 10px rgba(0, 0, 0, 0.2);
}

.hair {
  position: relative;
  grid-area: 1 / 1 / -1 / span 6;
  overflow: hidden;
  transition: all 0.5s ease-in-out;
  cursor: pointer;
}

.educate {
  position: relative;
  grid-area: 1 / 7 / span 4 / span 6;
  overflow: hidden;
  transition: all 0.5s ease-in-out;
  cursor: pointer;
}

.codes {
  position: relative;
  grid-area: 5 / 7 / -1 / -1;
  overflow: hidden;
  transition: all 0.5s ease-in-out;
  cursor: pointer;
}

.edImage {
  height: 100%;
  width: 100%;
  object-fit: cover;
  /* object-position: 0px -2px; */
}

.codeImage {
  height: 100%;
  width: 100%;
  object-fit: cover;
  /* object-position: 0px 0px; */
  /* filter: blur(5px); */
}

.edCover {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 2;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0,0,0,0.2);
}

.codeCover {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 2;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0,0,0,0.2);
}

.hairImage {
  height: 100%;
  width: 100%;
  object-fit: cover;
  /* object-position: 0px -55px; */
}

.hairCover {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 2;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0,0,0,0.2);
  font-family: "Cal sans", sans-serif;
  color: #fff;
  letter-spacing: -1px;
}

.hairCover:hover, .edCover:hover,
.codeCover:hover {
  background-color: rgba(0,0,0,0.0);
  transition: all ease-in-out 0.75s;
}

.hairCover, .edCover, .codeCover {
  font-family: "Cal sans", sans-serif;
  color: #fff;
  letter-spacing: -1px;
}

.hairCover, .edCover, .codeCover > h1 {
  text-shadow: 
  2px 2px 5px rgba(0,0,0,0.6),
  4px 4px 10px rgba(0,0,0,0.8);
}

.overlay {
  position: fixed;
  overflow-y: auto;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  backdrop-filter: blur(12px);
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 9999;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  color: #fff;
  transition: all 0.5s ease-in-out;
  box-sizing: border-box;
}

.closeButton {
  position: absolute;
  top: 0;
  right: 0;
  margin-right: 10px;
  font-size: 2rem;
  cursor: pointer;
}

.overlayContent {
  width: clamp(300px, 100vw, 1200px);
  font-family: "Open sans", sans-serif;
  text-align: center;
  padding: 2rem;
  box-sizing: border-box;
}

.overlayContent h1, 
.overlayContent h2 {
  font-family: "Cal sans", sans-serif;
}

.overlayContent p,
.overlayContent ul {
  font-family: "Open sans", sans-serif;
  color: rgba(255, 255, 255, 0.7);
}

.serviceContainer {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  padding: 10px;
  gap: 10px;
}

.grid {
  min-height: 200px;
  justify-content: center;
  align-items: flex-start;
  padding: 20px;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2),
  4px 4px 6px rgba(0, 0, 0, 0.3);
  border-radius: 20px;
}

.grid p {
  padding-top: 10px;
}

.contactButtonWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 25px;
  font-family: "Cal sans", sans-serif;
  margin-bottom: 20px;
}

.servicetButton {
  background-color: #cffc1c;
  border-radius: 100px;
  padding: 0.75rem 1.5rem;
  transition: border-color 0.2s ease;
  box-shadow: 0 2px 0 rgba(0,0,0,0.3);
  letter-spacing: 1.5px;
  color: #000;
  font-size: 1.1rem;
}
  
  /********************media queries*********************/
  @media (max-width: 1024px) {
    .serviceContainer {
      grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    }
  
    .hairImage {
      /* object-position: -130px 6px; */
    }
  
    .codeImage {
      /* object-position: -235px 0px; */
    }
  }

@media (max-width: 500px) {
  .GridContainer {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(4, minmax(250px, 1fr));
  }

  .hair {
    grid-area: 1 / 1 / span 1 / span 2;
  }

  .educate {
    grid-area: 2 / 1 / span 1 / span 2;
  }

  .codes {
    grid-area: 3 / 1 / span 1 / span 2;
  }

  .hairImage {
    /* object-position: 0px -125px; */
  }

  .codeImage {
    /* object-position: 0px 0px; */
  }
}
