.contactContainer {
    position: relative;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.colorChart {
    position: absolute;
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: 0px -300px;
}

.colorOverlay {
    position: absolute;
    height: 100%;
    width: 100%;
    background-image: linear-gradient(
        to right, rgba(0,0,0,0.6) 30%, rgba(0,0,0,0.1));
    z-index: 1;
}

.formContainer {
    position: relative;
    max-height: 500px;
    width: clamp(340px, 75%, 950px);
    padding: 1.75rem;
    border-radius: 15px;
    border: 4px solid #fff;
    z-index: 2;
    background-color: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(5px);
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.8);
    margin-top: 5rem;
    margin-bottom: 3rem;
    color: #ffffff;
}

 .buttonContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;
 }

 .socialButton:nth-child(2), .socialButton:nth-child(3), .socialButton:nth-child(4){
    background-color: #fff;
 }

 .socialButton {
    text-decoration: none;
    width: 100%;
    max-width: 300px;
    color: #5e5e5e;
    background-color: #cffc1c;
    padding: 0.75rem 1.5rem;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
    font-weight: 600;
 }

 .buttonContainer i {
    font-size: 1.3rem;
    margin-right: 3px;
 }

 .socialButton:hover {
    background-color: #8dab16;
    color: #ffffff;
    transition: all ease-in-out 0.5s;
    transform: scale(1.02);
 }

 @media (max-width: 1024px) {
    .colorChart {
        object-position: 0px 0px;
    }

    .checkboxWrap {
        gap: 5px;
    }
 }

 @media (max-width: 500px) {
    .colorChart {
        object-position: -200px 0px;
    }
 }
