.tcontainer {
    display: flex;
    justify-content: end;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

.tcontainer p {
    font-size: 20px;
    line-height: 30px;
}

.tcontainer h1 {
    letter-spacing: -1px;
}

.storyButton {
  background-color: #cffc1c;
  border-radius: 10px;
  padding: 0.75rem 1.5rem;
  box-shadow: 0 2px 0 rgba(0,0,0,0.3);
  letter-spacing: 1px;
  color: #000;
  font-size: 1.1rem;
  font-weight: 700;
}

.storyButton:hover {
  background-color: #8dab16;
  color: #fff;
  transition: all ease-in-out 0.5s;
  scale: 1.05;
}

.heroImage {
    position: absolute;
    height: 100vh;
    width: 40%;
    display: flex;
    justify-content: end;
    object-fit:fill;
}

.gradientBg {
    display: flex;
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(
        to right, #d9b9a0 60%, transparent);
    z-index: 1;
}

.leftHalf {
    display: flex;
    width: 60%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-style: oblique;
}

.quoteContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.quoteBox {
  position: relative;
  max-width: 600px;
  font-style: oblique;
}

.quoteBox p {
  margin: 0;
  font-size: clamp(1rem, 0.927rem + 0.36vw, 1.2rem);
  line-height: 1.6;
  text-align: center;
}

.leftQuote {
  position: absolute;
  top: -3.5rem;
  left: -1.5rem;
  font-size: 7rem;
  font-style: oblique;
  color: rgba(251, 236, 224, 0.2);
}

.rightQuote {
  position: absolute;
  bottom: -1.5rem;
  right: -0.5rem;
  font-size: 7rem;
  font-style: oblique;
  color: rgba(251, 236, 224, 0.2);
}

.tileContainer {
    height: 150vh;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media (max-width: 991px) {
    .heroImage {
        width: 50%;
        object-fit: cover;
    }

    .gradientBg {
        background-image: linear-gradient(to right, #d9b9a0 50%, transparent);
    }

    .tileContainer {
        height: 110vh;
    }
}

@media (max-width: 768px) {

    .heroImage {
        position: absolute;
        height: 100vh;
        width: 100%;
        display: flex;
        justify-content: end;
        object-fit: cover;
    }

    .gradientBg {
        display: flex;
        flex-direction: column-reverse;
        width: 100%;
        height: 100vh;
        background-image: linear-gradient(
            to top, #d9b9a0 35%, transparent);
        z-index: 1;
    }

    .leftHalf {
        display: flex;
        width: 100%;
        height: 35vh;
        justify-content: center;
    }
}

@media (max-width: 500px) {
    .tileContainer {
        height: 100vh;
    }
}

/******************************************Work component***********************************************/

.sec3 {
    position: relative;
    height: 300vh;
}
.workContainer {
    position: sticky;
    top: 60px;
    height: 80vh;
    background-color: #fff;
    display: flex;
    align-items: center;
    box-shadow: inset 0 -10px 20px rgba(0, 0, 0, 0.4);
    overflow: hidden;
}

.work {
    display: flex;
}

.cards {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50vh;
    width: 350px;
    background-color: rgb(5, 4, 4);
    margin: 0 10px;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: rgba(0, 0, 0, 0.7) 2px 2px 4px,
    rgba(0, 0, 0, 0.5) 3px 3px 8px;
    box-sizing: border-box;
    z-index: 99;
}

@media (max-width: 768px) {
    .cards {
        width: 500px;
    }
}

@media (max-width: 500px) {
    .cards {
        width: 400px;
    }

    .edArticle {
        text-align: center;
    }
}