.GridContainer {
  position: relative;
  height: 100vh;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(8, 1fr);
  background-image: linear-gradient(
    to bottom, #ca8383, #fff );
  padding: 20px;
  gap: 20px;
  padding: 50px 20px 30px 20px;
  margin-bottom: 20px;
}

.GridContainer > div {
  font-size: 1.2rem;
  text-align: center;
  border-radius: 15px;
  box-shadow:
  rgba(0,0,0,0.3) 2px 2px 4px, 
  5px 5px 10px rgba(0, 0, 0, 0.2);
}

.hair {
  position: relative;
  grid-area: 1 / 1 / -1 / span 6;
  overflow: hidden;
  transition: all 0.5s ease-in-out;
  cursor: pointer;
}

.educate {
  position: relative;
  grid-area: 1 / 7 / span 4 / span 6;
  overflow: hidden;
  transition: all 0.5s ease-in-out;
  cursor: pointer;
}

.codes {
  position: relative;
  grid-area: 5 / 7 / -1 / -1;
  overflow: hidden;
  transition: all 0.5s ease-in-out;
  cursor: pointer;
}

.edImage {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.codeImage {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.edCover {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 2;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0,0,0,0.2);
}

.codeCover {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 2;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0,0,0,0.2);
}

.hairImage {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.hairCover {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 2;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0,0,0,0.2);
  font-family: "Cal sans", sans-serif;
  color: #fff;
  letter-spacing: -1px;
}

.hairCover:hover, .edCover:hover,
.codeCover:hover {
  background-color: rgba(0,0,0,0.0);
  transition: all ease-in-out 0.75s;
}

.hairCover, .edCover, .codeCover {
  font-family: "Cal sans", sans-serif;
  color: #fff;
  letter-spacing: -1px;
}

.hairCover, .edCover, .codeCover > h1 {
  text-shadow: 
  2px 2px 5px rgba(0,0,0,0.6),
  4px 4px 10px rgba(0,0,0,0.8);
}

.overlay {
  position: fixed;
  overflow-y: auto;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  backdrop-filter: blur(12px);
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 9999;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  color: #fff;
  transition: all 0.5s ease-in-out;
  box-sizing: border-box;
}

.overlayLight {
  position: fixed;
  overflow-y: auto;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  backdrop-filter: blur(12px);
  background-color: rgba(255, 255, 255, 0.8);
  z-index: 9999;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  color: #000;
  transition: all 0.5s ease-in-out;
  box-sizing: border-box;
}

.closeButton {
  position: absolute;
  top: 0;
  right: 0;
  margin-right: 10px;
  font-size: 2rem;
  cursor: pointer;
}

.lightButton {
  position: absolute;
  top: 10px;
  right: 50px;
  margin-right: 10px;
  font-size: 1.25rem;
  padding: 0.125em 0.5em;
  cursor: pointer;
}

.overlayContent {
  width: clamp(300px, 100vw, 1200px);
  font-family: "Open sans", sans-serif;
  text-align: center;
  padding: 2rem;
  box-sizing: border-box;
}

.overlayContent h1, 
.overlayContent h2 {
  font-family: "Cal sans", sans-serif;
}

.overlayContent p,
.overlayContent ul {
  font-family: "Open sans", sans-serif;
}

.serviceContainer {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  padding: 10px;
  gap: 10px;
}

.grid {
  min-height: 200px;
  justify-content: center;
  align-items: flex-start;
  padding: 20px;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2),
  4px 4px 6px rgba(0, 0, 0, 0.3);
  border-radius: 20px;
}

.grid p {
  padding-top: 10px;
}

.serviceButton {
  padding: 0.75rem 1.5rem;
  border-radius: 10px;
  background-color: #cffc1c;
  margin: 20px 0;
  font-weight: 700;
}

.serviceButton:hover {
  background-color: #8dab16;
  color: #fff;
  transition: all ease-in-out 0.5s;
  scale: 1.05;
}
  
  /********************media queries*********************/
  @media (max-width: 1024px) {
    .serviceContainer {
      grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    }
  }

@media (max-width: 500px) {
  .GridContainer {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(4, minmax(250px, 1fr));
  }

  .hair {
    grid-area: 1 / 1 / span 1 / span 2;
  }

  .educate {
    grid-area: 2 / 1 / span 1 / span 2;
  }

  .codes {
    grid-area: 3 / 1 / span 1 / span 2;
  }
}

@media (max-width: 400px) {
  .GridContainer {
    height: 110vh;
  }
}
